.list_btn {
    display: flex;
    align-items: center;
}

.btn_gps {
    /*box-shadow: -1px 1px 4px 1px #00000020;*/
    border: 2px solid #4AA96C;
    border-radius: 12px;
    margin: 4px;
    padding: 2px;
    background-color: #E4F2E9;
}

.icon_gps {
    display: block;
    width: 24px;
    height: 24px;
}

.btn_here {
    display: block;
    margin: 4px 8px 4px 4px;
    padding: 6px 4px;
    font-size: 12px;
    background-color: #E4F2E9;
}