.list_btn {
    display: flex;
    align-items: center;
}

.btn_gps {
    box-shadow: -1px 1px 4px 1px #00000020;
    border-radius: 4px;
    margin: 4px;
    padding: 2px;
    background-color: #E4F2E9;
}

.btn_gpsOn {
    box-shadow: -1px 1px 4px 1px #00000020;
    border-radius: 4px;
    margin: 4px;
    padding: 2px;
    background-color: #4AA96C;
}

.icon_gps {
    width: 24px;
    height: 24px;
}

.btn_here {
    display: block;
    box-shadow: -1px 1px 4px 1px #00000020;
    border-radius: 4px;
    padding: 4px 2px;
    margin: 4px 8px 4px 4px;
    background-color: #E4F2E9;
}